EMIP-25/main.aux
EMIP-25/main.bcf
EMIP-25/main.log
EMIP-25/main.synctex(busy)
EMIP-25/main.pdf
EMIP-25/.DS_Store
EMIP-25/main.bbl
EMIP-25/main.blg
EMIP-25/main.fdb_latexmk
EMIP-25/main.fls
EMIP-25/main.run.xml
EMIP-25/main.synctex.gz
.DS_Store
